name: CI Derogative Shop

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  mobile-check:
    name: Frontend Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Dependancies (Frontend)
        run: npm ci

      - name: Lint Check (Frontend)
        run: npm run lint

      - name: Tests and Coverage (Frontend)
        run: npm run test:coverage

  backend-check:
    name: Backend Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json

      - name: Dependancies (Backend)
        run: npm ci

      - name: Lint Check (Backend)
        run: npm run lint

      - name: Tests and Coverage (Backend)
        run: npm run test:coverage